body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #C2B2B4;
}

header h1 {
  color: #ffffff;
  background-color: #3E2A35;
  margin: 0px;
  height:60px;
  font-size: 48pt;
}

.logo {
  height: 55px;
  width: 55px;
}

section.input {
  background-color: #3E2A35;
  height: 250px;
  padding-top: 40px;
}

.title, .caption {
  display: block;
  border: 0px;
  width: 450px;
  height: 40px;
  margin: auto;
}

.caption {
  margin-bottom: 20px;
}

.title .caption {
  display: inline-block;
  text-align: left;
  width: 200px;
}

button, .choose-file {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 80px;
  background-color: #5b4447;
  border-width: 0px;
  color: #ffffff;
}

.choose-file {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.choose-file + label {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 80px;
  background-color: #5b4447;
  border-width: 0px;
  color: #ffffff;
  cursor: pointer;
  width: 80px
}

div.card {
  background-color: #ffffff;
}

.card {
  width: 250px;
  height: 300px;
}

.card-actions {
  background-color: #5b4447;
  padding: 10px;
}

.card-action {
  height: 30px;
  width: 30px;
}
