* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #C2B2B4;
}

header {
  background-color: #3E2A35;
}

header h1 {
  color: #ffffff;
  background-color: #3E2A35;
  margin: 0px;
  height: 60px;
  font-size: 48pt;
  /*text-align: center;*/
  display: inline-block;
}

.logo {
  height: 80px;
  width: 80px;
  position: absolute;
}

.foto {
  margin-right: 6px;
}

.finder {
  margin-left: 87px;
}

section.user-input {
  background-color: #3E2A35;
  height: 300px;
  padding-top: 40px;
}

.text-input {
  text-align: left;
  width: 500px;
  margin: auto;
}

.title,
.caption {
  font-weight: 600;
  display: block;
  border: 0px;
  width: 500px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 7px;
}

label {
  margin-left: 0px;
  color: #C2B2B4;
}

.caption-label {}

.caption {
  margin-bottom: 40px;
}

.save {
  font-size: 12pt;
  font-weight: 600;
  background-color: #5b4447;
  border-width: 0px;
  color: #ffffff;
  padding: 10px 50px;
}

.choose-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.choose-file+label {
  font-size: 12pt;
  background-color: #5b4447;
  border-width: 0px;
  color: #ffffff;
  cursor: pointer;
  height: 70px;
  padding: 8px 50px;
  margin-right: 100px;
}

div.card {
  background-color: #ffffff;
}

.card {
  width: 250px;
  height: 300px;
}

.card-actions {
  background-color: #5b4447;
  padding: 10px;
}

.card-action {
  height: 30px;
  width: 30px;
}

.favorite-inactive,
.favorite-active,
.delete-inactive,
.delete-active {
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  background-color: #5b4447;
  height: 35px;
  width: 35px;
  cursor: grab;
}

.favorite-inactive {
  background-image: url('images/favorite.svg');
}

.delete-inactive {
  background-image: url('images/delete.svg');
}

.favorite-active,
.favorite-inactive:hover {
  background-image: url('images/favorite-active.svg');
}

.delete-active,
.delete-inactive:hover {
  background-image: url('images/delete-active.svg');
}
